Unitex Stock Monitor.json
{
  "name": "Unitex Stock Monitor",
  "nodes": [
    {
      "id": "cron-0001",
      "name": "Cron Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -1800,
        280
      ],
      "parameters": {
        "mode": "everyX",
        "value": 15,
        "unit": "minutes"
      }
    },
    {
      "id": "http-stock-0001",
      "name": "Consultar stock critico",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -1560,
        280
      ],
      "parameters": {
        "url": "https://unitex-backend.onrender.com/api/productos/stock-critico",
        "options": {
          "fullResponse": false
        },
        "queryParametersUi": {
          "parameter": [
            {
              "name": "umbral",
              "value": "5"
            }
          ]
        }
      }
    },
    {
      "id": "if-criticos-0001",
      "name": "Hay productos criticos",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1280,
        280
      ],
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ Array.isArray($json) ? $json.length : 0 }}",
              "operation": "larger",
              "value2": 0
            }
          ]
        }
      }
    },
    {
      "id": "fn-preparar-0001",
      "name": "Preparar notificacion admin",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -980,
        140
      ],
      "parameters": {
        "functionCode": "/* Lee productos directamente del nodo Consultar stock critico.\n   El endpoint devuelve un array JSON plano. */\nvar resp = $node[\"Consultar stock critico\"].json;\nvar productosCriticos = Array.isArray(resp) ? resp : (resp.productos || resp.data || []);\n\nif (!productosCriticos || productosCriticos.length === 0) {\n  return [];\n}\n\nvar productosFormato = productosCriticos.map(function(p) {\n  return {\n    _id: p._id,\n    nombre: p.nombre || \"Producto\",\n    descripcion: p.descripcion || \"\",\n    stock: p.stock || 0,\n    umbral: p.umbral != null ? p.umbral : (p.umbralCritico != null ? p.umbralCritico : 5),\n    precio: p.precio || 0\n  };\n});\n\nvar productosDetalle = productosFormato\n  .map(function(p) {\n    return p.nombre + \" (Stock: \" + p.stock + \", umbral: \" + p.umbral + \")\";\n  })\n  .join(\"; \");\n\nvar mensaje = \"ALERTA STOCK CRITICO: \" + productosFormato.length\n  + \" producto(s) con stock bajo. \" + productosDetalle;\n\nreturn [{ json: {\n  mensaje: mensaje,\n  productos: productosFormato,\n  tipo: \"stock_critico\",\n  cantidad: productosFormato.length\n} }];"
      }
    },
    {
      "id": "http-notif-0001",
      "name": "Notificar al admin",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -680,
        140
      ],
      "parameters": {
        "requestMethod": "POST",
        "url": "https://unitex-backend.onrender.com/api/notificaciones/webhook",
        "jsonParameters": true,
        "bodyParametersJson": "={{ { tipo: $json.tipo, mensaje: $json.mensaje, productos: $json.productos } }}",
        "options": {
          "fullResponse": false
        }
      }
    },
    {
      "id": "set-log-ok-0001",
      "name": "Log - Notificacion enviada",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -380,
        140
      ],
      "parameters": {
        "values": {
          "string": [
            {
              "name": "estado",
              "value": "Notificacion de stock critico enviada al administrador."
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "set-log-noop-0001",
      "name": "Log - Sin alertas",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -980,
        420
      ],
      "parameters": {
        "values": {
          "string": [
            {
              "name": "estado",
              "value": "Revision completada. Sin productos con stock critico."
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "webhook-admin-0001",
      "name": "Webhook - Respuesta Admin",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        80,
        -80
      ],
      "webhookId": "695fe408-ee92-4dde-b017-62e4c09ac2a9",
      "parameters": {
        "httpMethod": "POST",
        "path": "unitex-admin-response",
        "options": {
          "responseMode": "onReceived"
        }
      }
    },
    {
      "id": "fn-normalizar-0001",
      "name": "Normalizar datos admin",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        340,
        -80
      ],
      "parameters": {
        "functionCode": "/* Extrae del body del webhook: decision, idNotificacion, productos, mensaje */\nvar data = $json.body || $json;\nvar decision = (data.decision || \"\").toLowerCase().trim();\nvar idNotificacion = data.idNotificacion || data.id || \"\";\nvar productos = Array.isArray(data.productos) ? data.productos : [];\nvar mensaje = data.mensaje || \"\";\n\n// Flag silencioso — no lanza excepcion para que el webhook siempre responda\nvar valid = (idNotificacion !== '' && decision !== '');\n\nreturn [{ json: { decision: decision, idNotificacion: idNotificacion, productos: productos, mensaje: mensaje, valid: valid } }];"
      }
    },
    {
      "id": "if-aprobado-0001",
      "name": "Verificar decision admin",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        600,
        -80
      ],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.decision }}",
              "value2": "aprobado"
            }
          ]
        }
      }
    },
    {
      "id": "fn-email-0001",
      "name": "Construir email proveedor",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        860,
        -220
      ],
      "parameters": {
        "functionCode": "/* Construye el asunto y cuerpo del email para el proveedor.\n   Usa los productos que vienen de Normalizar datos admin. */\nvar productos = $json.productos || [];\nvar idNotificacion = $json.idNotificacion || \"\";\nvar ahora = new Date();\nvar opciones = { timeZone: \"America/Guayaquil\", day: \"2-digit\", month: \"2-digit\", year: \"numeric\", hour: \"2-digit\", minute: \"2-digit\" };\nvar fechaStr = ahora.toLocaleDateString(\"es-EC\", opciones);\n\nvar listaProductos = productos.length > 0\n  ? productos.map(function(p) {\n      return \"  - \" + p.nombre\n        + \" | Stock actual: \" + p.stock + \" unidades\"\n        + \" | Umbral minimo: \" + (p.umbral || 5) + \" unidades\"\n        + (p.descripcion ? \" | \" + p.descripcion : \"\");\n    }).join(\"\\n\")\n  : \"  - (Ver detalle en el sistema Unitex)\";\n\nvar asunto = \"Solicitud de reposicion de stock - Unitex - \" + ahora.toLocaleDateString(\"es-EC\", { timeZone: \"America/Guayaquil\", day: \"2-digit\", month: \"2-digit\", year: \"numeric\" });\n\nvar cuerpo = [\n  \"Estimado proveedor,\",\n  \"\",\n  \"Le informamos que tras la revision automatica de inventario del \" + fechaStr + \",\",\n  \"los siguientes productos requieren reposicion urgente:\",\n  \"\",\n  listaProductos,\n  \"\",\n  \"Solicitamos amablemente confirmar:\",\n  \"  1. Disponibilidad de los productos listados\",\n  \"  2. Cantidad maxima disponible para entrega inmediata\",\n  \"  3. Tiempo estimado de entrega\",\n  \"  4. Precio unitario actualizado si hubiera cambios\",\n  \"\",\n  \"Este pedido fue aprobado por el administrador de Unitex y generado\",\n  \"automaticamente por nuestro sistema de monitoreo de inventario.\",\n  \"\",\n  \"Quedamos atentos a su respuesta.\",\n  \"\",\n  \"Saludos cordiales,\",\n  \"Sistema Unitex - Gestion de Inventario\",\n  \"Referencia de gestion: \" + idNotificacion,\n  \"Fecha: \" + fechaStr\n].join(\"\\n\");\n\nreturn [{ json: {\n  asunto: asunto,\n  cuerpo: cuerpo,\n  idNotificacion: idNotificacion,\n  productos: productos,\n  cantidadProductos: productos.length\n} }];"
      }
    },
    {
      "id": "email-prov-0001",
      "name": "Enviar email al proveedor",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        1120,
        -220
      ],
      "parameters": {
        "fromEmail": "mateo.paredes.0012@gmail.com",
        "toEmail": "mateokabuto@gmail.com",
        "subject": "={{ $json.asunto }}",
        "text": "={{ $json.cuerpo }}",
        "options": {}
      }
    },
    {
      "id": "http-marcar-0001",
      "name": "Marcar notificacion gestionada",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1380,
        -220
      ],
      "parameters": {
        "requestMethod": "PATCH",
        "url": "={{ `https://unitex-backend.onrender.com/api/notificaciones/webhook/${$node[\"Normalizar datos admin\"].json.idNotificacion}/leida` }}",
        "options": {
          "fullResponse": false
        }
      }
    },
    {
      "id": "fn-resumen-aprobado-0001",
      "name": "Resumen - Aprobado",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1640,
        -220
      ],
      "parameters": {
        "functionCode": "/* Resumen cuando el admin APROBO la solicitud */\nvar norm = $node[\"Normalizar datos admin\"].json;\nvar ahora = new Date();\nvar fecha = ahora.toLocaleDateString(\"es-EC\", {\n  timeZone: \"America/Guayaquil\", day: \"2-digit\", month: \"2-digit\", year: \"numeric\",\n  hour: \"2-digit\", minute: \"2-digit\"\n});\nvar cantProd = Array.isArray(norm.productos) ? norm.productos.length : 0;\nvar resumen = [\n  \"=== RESUMEN GESTION UNITEX ===\",\n  \"Fecha: \" + fecha,\n  \"Notificacion ID: \" + norm.idNotificacion,\n  \"Decision admin: APROBADO\",\n  \"Productos gestionados: \" + cantProd,\n  \"Email enviado al proveedor: SI\",\n  \"Estado final: Completado\",\n  \"==============================\"\n].join(\"\\n\");\nreturn [{ json: { resumen: resumen, decision: \"aprobado\", idNotificacion: norm.idNotificacion, cantidadProductos: cantProd, emailEnviado: true } }];"
      }
    },
    {
      "id": "fn-resumen-rechazado-0001",
      "name": "Resumen - Rechazado",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        860,
        60
      ],
      "parameters": {
        "functionCode": "/* Resumen cuando el admin RECHAZO la solicitud */\nvar norm = $json;\nvar ahora = new Date();\nvar fecha = ahora.toLocaleDateString(\"es-EC\", {\n  timeZone: \"America/Guayaquil\", day: \"2-digit\", month: \"2-digit\", year: \"numeric\",\n  hour: \"2-digit\", minute: \"2-digit\"\n});\nvar cantProd = Array.isArray(norm.productos) ? norm.productos.length : 0;\nvar resumen = [\n  \"=== RESUMEN GESTION UNITEX ===\",\n  \"Fecha: \" + fecha,\n  \"Notificacion ID: \" + norm.idNotificacion,\n  \"Decision admin: RECHAZADO\",\n  \"Productos afectados: \" + cantProd,\n  \"Email enviado al proveedor: NO\",\n  \"Estado final: Cancelado por admin\",\n  \"==============================\"\n].join(\"\\n\");\nreturn [{ json: { resumen: resumen, decision: \"rechazado\", idNotificacion: norm.idNotificacion, cantidadProductos: cantProd, emailEnviado: false } }];"
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Cron Trigger": {
      "main": [
        [
          {
            "node": "Consultar stock critico",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar stock critico": {
      "main": [
        [
          {
            "node": "Hay productos criticos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hay productos criticos": {
      "main": [
        [
          {
            "node": "Preparar notificacion admin",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log - Sin alertas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar notificacion admin": {
      "main": [
        [
          {
            "node": "Notificar al admin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notificar al admin": {
      "main": [
        [
          {
            "node": "Log - Notificacion enviada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Respuesta Admin": {
      "main": [
        [
          {
            "node": "Normalizar datos admin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar datos admin": {
      "main": [
        [
          {
            "node": "Verificar decision admin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar decision admin": {
      "main": [
        [
          {
            "node": "Construir email proveedor",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Resumen - Rechazado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Construir email proveedor": {
      "main": [
        [
          {
            "node": "Enviar email al proveedor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar email al proveedor": {
      "main": [
        [
          {
            "node": "Marcar notificacion gestionada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marcar notificacion gestionada": {
      "main": [
        [
          {
            "node": "Resumen - Aprobado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ed71fd82-a93a-4a5a-a8cf-f3bcd12675c7",
  "meta": {
    "instanceId": "28e7ff190706c7cb07016c6b8752a174d4c23fb653b519411b766474a86272c5"
  },
  "id": "HAyb2oBV279sZuoC",
  "tags": []
}