Unitex Stock Monitor.json
{
  "name": "Unitex Stock Monitor",
  "nodes": [
    {
      "id": "cron-0001",
      "name": "Cron Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [-1800, 280],
      "parameters": {
        "mode": "everyDay",
        "hour": 8,
        "minute": 0
      }
    },
    {
      "id": "http-stock-0001",
      "name": "Consultar stock critico",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [-1560, 280],
      "parameters": {
        "url": "https://unitex-backend.onrender.com/api/productos/stock-critico",
        "options": { "fullResponse": false },
        "queryParametersUi": {
          "parameter": [{ "name": "umbral", "value": "5" }]
        }
      }
    },
    {
      "id": "if-criticos-0001",
      "name": "Hay productos criticos",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [-1280, 280],
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ Array.isArray($json) ? $json.length : 0 }}",
              "operation": "larger",
              "value2": 0
            }
          ]
        }
      }
    },
    {
      "id": "fn-preparar-0001",
      "name": "Preparar notificacion admin",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [-980, 140],
      "parameters": {
        "functionCode": "var resp = $node[\"Consultar stock critico\"].json;\nvar productosCriticos = Array.isArray(resp) ? resp : (resp.productos || resp.data || []);\nif (!productosCriticos || productosCriticos.length === 0) return [];\nvar productosFormato = productosCriticos.map(function(p) {\n  return {\n    _id: p._id,\n    nombre: p.nombre || 'Producto',\n    descripcion: p.descripcion || '',\n    stock: p.stock || 0,\n    umbral: p.umbral != null ? p.umbral : (p.umbralCritico != null ? p.umbralCritico : 5),\n    precio: p.precio || 0\n  };\n});\nvar productosDetalle = productosFormato.map(function(p) {\n  return p.nombre + ' (Stock: ' + p.stock + ', umbral: ' + p.umbral + ')';\n}).join('; ');\nvar mensaje = 'ALERTA STOCK CRITICO: ' + productosFormato.length + ' producto(s) con stock bajo. ' + productosDetalle;\nreturn [{ json: { mensaje: mensaje, productos: productosFormato, tipo: 'stock_critico', cantidad: productosFormato.length } }];"
      }
    },
    {
      "id": "http-notif-0001",
      "name": "Notificar al admin",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [-680, 140],
      "parameters": {
        "requestMethod": "POST",
        "url": "https://unitex-backend.onrender.com/api/notificaciones/webhook",
        "jsonParameters": true,
        "bodyParametersJson": "={{ { tipo: $json.tipo, mensaje: $json.mensaje, productos: $json.productos } }}",
        "options": { "fullResponse": false }
      }
    },
    {
      "id": "set-log-ok-0001",
      "name": "Log - Notificacion enviada",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [-380, 140],
      "parameters": {
        "values": {
          "string": [{ "name": "estado", "value": "Notificacion de stock critico enviada al administrador." }]
        },
        "options": {}
      }
    },
    {
      "id": "set-log-noop-0001",
      "name": "Log - Sin alertas",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [-980, 420],
      "parameters": {
        "values": {
          "string": [{ "name": "estado", "value": "Revision completada. Sin productos con stock critico." }]
        },
        "options": {}
      }
    },
    {
      "id": "cron-poll-0001",
      "name": "Cron - Polling Aprobadas",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [-1800, 600],
      "parameters": {
        "mode": "everyX",
        "value": 5,
        "unit": "minutes"
      }
    },
    {
      "id": "http-aprobadas-0001",
      "name": "Consultar aprobadas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [-1560, 600],
      "parameters": {
        "url": "https://unitex-backend.onrender.com/api/notificaciones/webhook/aprobadas",
        "options": { "fullResponse": false }
      }
    },
    {
      "id": "if-aprobadas-0001",
      "name": "Hay aprobadas pendientes",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [-1280, 600],
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.total }}",
              "operation": "larger",
              "value2": 0
            }
          ]
        }
      }
    },
    {
      "id": "fn-split-0001",
      "name": "Separar por notificacion",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [-980, 600],
      "parameters": {
        "functionCode": "var data = $json.notificaciones || [];\nif (data.length === 0) return [];\nreturn data.map(function(n) {\n  return { json: {\n    idNotificacion: String(n._id),\n    mensaje: n.mensaje || '',\n    productos: Array.isArray(n.productos) ? n.productos : []\n  }};\n});"
      }
    },
    {
      "id": "fn-email-poll-0001",
      "name": "Construir email poll",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [-680, 600],
      "parameters": {
        "functionCode": "var productos = $json.productos || [];\nvar idNotificacion = $json.idNotificacion || '';\nvar ahora = new Date();\nvar opciones = { timeZone: 'America/Guayaquil', day: '2-digit', month: '2-digit', year: 'numeric', hour: '2-digit', minute: '2-digit' };\nvar fechaStr = ahora.toLocaleDateString('es-EC', opciones);\nvar listaProductos = productos.length > 0\n  ? productos.map(function(p) {\n      return '  - ' + p.nombre\n        + ' | Stock actual: ' + p.stock + ' unidades'\n        + ' | Umbral minimo: ' + (p.umbral || 5) + ' unidades'\n        + (p.descripcion ? ' | ' + p.descripcion : '');\n    }).join('\\n')\n  : '  - (Ver detalle en el sistema Unitex)';\nvar asunto = 'Solicitud de reposicion de stock - Unitex - ' + ahora.toLocaleDateString('es-EC', { timeZone: 'America/Guayaquil', day: '2-digit', month: '2-digit', year: 'numeric' });\nvar cuerpo = [\n  'Estimado proveedor,',\n  '',\n  'Le informamos que tras la revision automatica de inventario del ' + fechaStr + ',',\n  'los siguientes productos requieren reposicion urgente:',\n  '',\n  listaProductos,\n  '',\n  'Solicitamos amablemente confirmar:',\n  '  1. Disponibilidad de los productos listados',\n  '  2. Cantidad maxima disponible para entrega inmediata',\n  '  3. Tiempo estimado de entrega',\n  '  4. Precio unitario actualizado si hubiera cambios',\n  '',\n  'Este pedido fue aprobado por el administrador de Unitex.',\n  '',\n  'Saludos cordiales,',\n  'Sistema Unitex - Gestion de Inventario',\n  'Referencia: ' + idNotificacion,\n  'Fecha: ' + fechaStr\n].join('\\n');\nreturn [{ json: { asunto: asunto, cuerpo: cuerpo, idNotificacion: idNotificacion, cantidadProductos: productos.length } }];"
      }
    },
    {
      "id": "email-poll-0001",
      "name": "Enviar email proveedor poll",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [-380, 600],
      "parameters": {
        "fromEmail": "mateo.paredes.0012@gmail.com",
        "toEmail": "mateokabuto@gmail.com",
        "subject": "={{ $json.asunto }}",
        "text": "={{ $json.cuerpo }}",
        "options": {}
      }
    },
    {
      "id": "http-marcar-poll-0001",
      "name": "Marcar como completada",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [-80, 600],
      "parameters": {
        "requestMethod": "PATCH",
        "url": "={{ `https://unitex-backend.onrender.com/api/notificaciones/webhook/${$node[\"Construir email poll\"].json.idNotificacion}/leida` }}",
        "options": { "fullResponse": false }
      }
    },
    {
      "id": "set-log-no-aprobadas-0001",
      "name": "Log - Sin aprobaciones",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [-1280, 780],
      "parameters": {
        "values": {
          "string": [{ "name": "estado", "value": "Polling: sin notificaciones aprobadas pendientes." }]
        },
        "options": {}
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Cron Trigger": {
      "main": [[{ "node": "Consultar stock critico", "type": "main", "index": 0 }]]
    },
    "Consultar stock critico": {
      "main": [[{ "node": "Hay productos criticos", "type": "main", "index": 0 }]]
    },
    "Hay productos criticos": {
      "main": [
        [{ "node": "Preparar notificacion admin", "type": "main", "index": 0 }],
        [{ "node": "Log - Sin alertas", "type": "main", "index": 0 }]
      ]
    },
    "Preparar notificacion admin": {
      "main": [[{ "node": "Notificar al admin", "type": "main", "index": 0 }]]
    },
    "Notificar al admin": {
      "main": [[{ "node": "Log - Notificacion enviada", "type": "main", "index": 0 }]]
    },
    "Cron - Polling Aprobadas": {
      "main": [[{ "node": "Consultar aprobadas", "type": "main", "index": 0 }]]
    },
    "Consultar aprobadas": {
      "main": [[{ "node": "Hay aprobadas pendientes", "type": "main", "index": 0 }]]
    },
    "Hay aprobadas pendientes": {
      "main": [
        [{ "node": "Separar por notificacion", "type": "main", "index": 0 }],
        [{ "node": "Log - Sin aprobaciones", "type": "main", "index": 0 }]
      ]
    },
    "Separar por notificacion": {
      "main": [[{ "node": "Construir email poll", "type": "main", "index": 0 }]]
    },
    "Construir email poll": {
      "main": [[{ "node": "Enviar email proveedor poll", "type": "main", "index": 0 }]]
    },
    "Enviar email proveedor poll": {
      "main": [[{ "node": "Marcar como completada", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ed71fd82-a93a-4a5a-a8cf-f3bcd12675c7",
  "meta": {
    "instanceId": "28e7ff190706c7cb07016c6b8752a174d4c23fb653b519411b766474a86272c5"
  },
  "id": "HAyb2oBV279sZuoC",
  "tags": []
}